<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="//bootswatch.com/lumen/bootstrap.min.css">
<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Barrio" >


 <!-- Based https://github.com/blueimp/Gallery -->
<link rel="stylesheet" href="../css/gallery/blueimp-gallery.css">
<link rel="stylesheet" href="../css/gallery/blueimp-gallery-indicator.css">
<link rel="stylesheet" href="../css/gallery/blueimp-gallery-video.css">
<!-- <link rel="stylesheet" href="../css/gallery/demo/demo.css"> -->
