* {
    font-family: 'Barrio', cursive;
    padding: 0;
    margin: 0;
}

div:first-child {
    margin-top: 20px;
}

body {
    text-align: center;
}

.r {
    color: #B00;
}

.g {
    color: #0B0;
}

.b {
    color: #00B;
}

.p {
    color: #000;
}

.sz-font {
    font-size: 14em;
    clear: both;
}

div {
    width: 100%;
    clear: both;
    margin: 24px;
}

img {
    width: 300px;
}
